@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* DM Sans */
@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Noto Sans */
@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Space Grotesk */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
