@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* 防止横向滚动 */
}

/* 确保所有媒体元素不超出容器 */
img, video, iframe {
    max-width: 100%;
    height: auto;
}

/* 防止长文本撑开容器 */
* {
    word-break: break-word;
    box-sizing: border-box;
}

/* DM Sans */
@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Noto Sans */
@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Space Grotesk */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}